/*** Colours ***/
/*** Fonts ***/
/*** Resets ***/
html,
body,
div,
header,
section,
aside,
footer,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
input,
textarea {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* Font reset */

}
body {
  /* Accomodating modern and older browsers, as per http://snook.ca/archives/html_and_css/font-size-with-rem */

  font-size: 14px;
  font-size: 1.4rem;
  background-color: #ffffff;
}
ul li {
  list-style-type: none;
}
input,
textarea,
select,
a {
  outline: none;
}
/***Common elements ***/
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
p,
li {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
p {
  margin-bottom: 1rem;
}
a,
a:visited {
  color: #062270;
}
a:hover,
a:active {
  text-decoration: none;
  color: #e768ab;
}
.apple {
  font-family: "Homemade Apple", cursive;
  display: block;
  margin-bottom: -8rem;
}
/*** Header ***/
header {
  padding: 10rem 0 3rem;
  background-color: #062270;
  text-align: center;
  width: 100%;
  transition: height 500ms;
  z-index: 2;
}
header h1 {
  font-size: 7.2rem;
  font-weight: 700;
  transition: font-size 400ms;
}
header h1 a:link,
header h1 a:visited {
  color: #e768ab;
  text-decoration: none;
}
header h1 a:hover,
header h1 a:active {
  color: #ffd273;
}
header h2 {
  font-size: 3.6rem;
  color: #ffffff;
  margin-bottom: 3.6rem;
}
.header_wrapper {
  width: 100%;
  z-index: 2;
}
header.tiny {
  padding: 0 0 1rem;
  position: fixed;
}
header.tiny h1 {
  font-size: 3.6rem;
}
/*** Navigation ***/
nav {
  background-color: #e768ab;
  padding: 1.8rem 0;
  width: 100%;
  transition: padding 500ms;
  z-index: 2;
}
nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2.4rem;
  padding: 0 2.4rem;
  transition: font-size 400ms;
}
nav ul li a,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
  color: #ffffff;
  text-decoration: none;
}
nav.tiny {
  position: fixed;
  top: 5.6rem;
  width: 100%;
}
nav.tiny ul li {
  font-size: 1.6rem;
}
.wrapper {
  max-width: 102.4rem;
  margin: auto;
}
/*** Content ***/
.push:before {
  content: ' ';
  display: block;
  height: 36rem;
  transition: height 400ms;
}
.content {
  max-width: 96rem;
  margin: auto;
}
.content h2 {
  color: #062270;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}
.content input,
.content textarea {
  width: 100%;
  padding: 1.2rem;
  border: 0.1rem solid #062270;
  margin-bottom: 1.2rem;
  font-family: "Muli", sans-serif;
}
.content input[type="submit"] {
  color: #062270;
  background-color: #ffffff;
  font-size: 1.6rem;
}
.content input[type="submit"]:hover,
.content input[type="submit"]:active {
  border-color: #e768ab;
  color: #e768ab;
  cursor: pointer;
}
.content .required {
  color: #e768ab;
}
#projects {
  width: 100%;
}
#projects a {
  width: 48%;
  display: inline-block;
  text-decoration: none;
}
#projects a:hover .project,
#projects a:active .project {
  border-color: #ffd273;
}
#projects .project {
  margin: 1.8rem;
  padding: 1.8rem;
  border: 0.3rem solid #062270;
}
#projects .project img {
  max-width: 100%;
  height: auto;
}
#projects .project h2 {
  margin-top: 1.2rem;
  font-size: 2.4rem;
  color: #e768ab;
  text-align: center;
}
/*** Project Page ***/
.single .content h2,
.page .content h2 {
  margin-bottom: 2.4rem;
  color: #062270;
}
.single .push:before,
.page .push:before {
  height: 12rem;
}
/*** Footer ***/
footer {
  clear: both;
  padding: 5rem 0 2rem;
  background-color: #062270;
  text-align: center;
}
footer .accordion {
  display: none;
}
footer p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #ffffff;
  font-style: italic;
  text-transform: lowercase;
}
footer li {
  display: inline-block;
  margin-bottom: 2.4rem;
  color: #ffffff;
  min-width: 9.6rem;
}
footer li a,
footer li a:visited {
  color: #ffffff;
  text-decoration: none;
}
footer li a:hover,
footer li a:active {
  color: #e768ab;
}
@media screen and (max-width: 768px) {
  body {
    background-color: #062270;
  }
  header {
    padding: 2rem 0 3rem;
  }
  header h1 {
    font-size: 4rem;
  }
  header h2 {
    font-size: 2rem;
  }
  header .apple {
    margin-bottom: -4rem;
  }
  nav ul li {
    font-size: 1.6rem;
  }
  .content:before {
    height: 12rem;
  }
  .wrapper {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    background-color: #ffffff;
  }
  .home .content:before {
    height: 2.4rem;
  }
  #projects {
    padding-bottom: 2.4rem;
  }
  #projects a {
    display: block;
    width: 100%;
  }
}
